@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0e0f14;
  --fg: #ffffff;
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background: var(--bg);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}
